extends ../base.pug

block content
    form(method="POST", enctype="multipart/form-data")
        label(for="thumb") Thumbnail File
        input(type="file", accept="image/*", id="thumb", name="thumb")
        label(for="title") Title
        input(placeholder="Title", required, maxLength=80, type="text", value=video.title, id="title" name="title")
        label(for="description") Description
        input(placeholder="Description", required, type="text", value=video.description, id="description" name="description")
        label(for="hashtags") Hashtags
        input(placeholder="Hashtags, separated by comma", required, type="text", value=video.hashtags.join(), id="hashtags" name="hashtags")
        input(value="Save", type="submit")