extends ../base.pug

block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn Start Recording
            
        hr

        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", accept="video/*", required, id="video", name="video")
            label(for="thumb") Thumbnail File
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            label(for="title") Title
            input(required, type="text", id="title", name="title", maxlength=80)
            label(for="description") Description
            input(required, type="text", id="description", name="description")
            label(for="hashtags") Hashtags
            input(type="text", id="hashtags", name="hashtags")
            input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js") 