.watch__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .watch__wrapper {
    flex-direction: column;
  }
}

#videoContainer {
  width: 1000px;
  background-color: black;
}

.video__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  .video__title {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    .fas.fa-comment {
      padding: 0px 10px;
    }
  }
}
