include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube 
        link(rel="stylesheet" href="/static/css/styles.css")
    body 
        <!-- req.flash 로 생성된 res.locals.messages 는 한번 보여준 후에는 캐시가 삭제되어 더 보여주지 않는다. (=일회성이다.) --!>
        if messages.error                     
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("success", messages.success)
        include partials/header.pug      
        main
            block content
        include partials/footer.pug
        
    script(src="/static/js/main.js") 
    script(src="https://kit.fontawesome.com/4bc00e0a4c.js" crossorigin="anonymous")
    block scripts