extends base.pug

block content
    h4 Update video
    form(method="POST")
        input(placeholder="Title", required, maxLength=80, type="text", value=video.title, name="title")
        input(placeholder="Description", required, minLength=20, type="text", value=video.description, name="description")
        input(placeholder="Hashtags, separated by comma", required, type="text", value=video.hashtags.join(), name="hashtags")
        input(value="Save", type="submit")