header
    div
        a(href="/").logo__link
            img(src="https://jh-wetube.s3.ap-northeast-2.amazonaws.com/default/logo.png", crossorigin).logo__img
            span.logo__text SPURS TV
    div
        nav.nav__menu
            ul
                li
                    a(href="/search") 
                        i.fa-solid.fa-magnifying-glass
                        span  Search
                if loggedIn   /* 모든 pug 파일은 res.locals 의 정보를 갖고 있으므로 res.locals.loggedIn 을 바로 호출할 수 있음 */
                    li
                        a(href="/videos/upload")
                            i.fa-solid.fa-upload
                            span  Upload Video
    div
        nab.nav__login
            ul 
                if loggedIn
                    li
                        a(href="/users/edit")
                            i.fa-solid.fa-user-pen
                            span  Edit Profile
                    li
                        a(href="/users/logout")
                            i.fa-solid.fa-right-from-bracket
                            span  Log Out
                    li
                        a(href=`/users/${loggedInUser._id}`)
                            if loggedInUser.avatarUrl
                                if(isHeroku)
                                    img.header__avatar(src=loggedInUser.avatarUrl, crossorigin)
                                    br
                                    span.header_username #{loggedInUser.name}
                                else
                                    img.header__avatar(src='/' + loggedInUser.avatarUrl, crossorigin)
                                    br
                                    span.header_username #{loggedInUser.name}
                else
                    li
                        a(href="/login")
                            i.fa-solid.fa-right-to-bracket
                            span  Login
                    li
                        a(href="/join").header__btn
                            span  Join