extends ../base.pug
include ../mixins/video-mixins.pug

block content
    div.profile__data
        if(isHeroku)
            img(src=user.avatarUrl, crossorigin).avatar
        else
            img(src='/' + user.avatarUrl, crossorigin).avatar
        h3=user.name

    hr

    span.profile__video__category My Videos
    div.video-grid
        each video in user.uploadVideos.reverse()
            +video(video)
        else
            span.empty__message No videos found

    hr

    span.profile__video__category Video I Liked
    div.video-grid
        each video in user.likeVideos.reverse()
            +video(video)
        else
            span.empty__message No videos found